@model grad2021.Models.Selection

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Selection</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelectionNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectionNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentEnrollment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentEnrollment.StudentNatId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentBranch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentBranch.BranchName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelectionBranch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectionBranch.BranchName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SelectionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
