@model grad2021.Models.StudentCourse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StudentCourse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MidTermMark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MidTermMark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseWorkMark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseWorkMark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OralExamMark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OralExamMark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalExamMark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalExamMark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MerciMark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MerciMark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentEnrollment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentEnrollment.StudentNatId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseEnrollment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseEnrollment.CourseName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StudentCourseID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
