@model IEnumerable<grad2021.Models.InstructorEnrollment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Instructor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseEnrollment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Instructor.InstructorNatId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcademicYear.AcademicYearID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseEnrollment.CourseName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InstructorEnrollmentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InstructorEnrollmentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InstructorEnrollmentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
